// секция преимущества
.benefits__title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 10px;
}

.benefits {
  margin-top: 60px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  // padding-top: 94px;
}
// размещение иконок преимущества
.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // снятие маржина для форимрования контейнера списка
    margin: -15px;
  }
}

.clients__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// .benefits {
//   padding-top: 94px;
// }
// размещение иконок преимущества
// .benefits__list,
// .clients__wrapper {
//   display: flex;
// }

.benefits__wrapper {
  margin-bottom: 30px;
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--background-btn-filter);
  border-radius: 4px;
}

// отступ между колонами
.benefits__column {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // маржины для колонки по 2
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

// выбор крайних элементов
// .benefits__column{
//   &:last-child {
//   margin-right: 0;
// }
// }
// конец секция преимущества
