// секция преимущества
.benefits__title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 10px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  // @media screen and (min-width: 768px) {
  //   padding-bottom: 30px;
  // }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
// размещение иконок преимущества
.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // снятие маржина для форимрования контейнера списка
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.benefits__wrapper {
  margin-bottom: 30px;
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--background-btn-filter);
  border-radius: 4px;
}

// отступ между колонами
.benefits__column {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // маржины для колонки по 2
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    // выбор крайних элементов
    margin: 0;
    width: 270px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// конец секция преимущества
