// кнопка заказ услуги
.hero__btn {
  background: var(--accent-color);
  color: var(--header-hero-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 32px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &:hover {
    background: var(--accent-color-hover);
  }

  &:focus {
    background: var(--accent-color-hover);
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// конец кнопка заказ услуги

// кнопка закрытия бекдропа
.backdrop__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  min-height: 30px;
  min-width: 30px;

//   color icon close
  border-radius: 50%;
  border: 1px solid var(--form-filed-shadow);
  outline: 1px solid var(--form-filed-shadow);

  background-color: rgba(255, 255, 255, 0);

  cursor: pointer;
 
  &:focus {
    fill: var(--accent-color);
    transition: fill var(--animation);
  }
  &:hover {
   fill: var(--accent-color);
   transition: fill var(--animation);
  }
}


// конец кнопка закрытия бекдропа

//  конпка отправка формы в бекдропе
.form__btn {
    text-transform: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
  
    color: var(--header-hero-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.001);
  
    cursor: pointer;
  
    transition: color var(--animation);

    &:focus {
    background: var(--accent-color-hover);
  }
    &:hover {
    background: var(--accent-color-hover);
  }
  }

//    конец конпка отправка формы в бекдропе


// кнопка футер отправка формы 
.footer__btn {
  width: 200px;
  margin-left: 12px;
  padding-left: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: roboto, bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--header-hero-color);
  background-color: var(--accent-color);
  box-shadow: var(--footer-btn-shadow);

  border: 1px solid var(--footer-form-border);
  border-radius: 4px;
  transition: background-color var(--animation), box-shadow var(--animation);

  cursor: pointer;
}

.footer__icon {
  margin-left: 10px;
}
// кнопка футер отправка формы 