// секция наши клиенты
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  margin-bottom: 30px;
}

// размещение иконок наши клиенты
.clients__wrapper {
  fill: var(--icon-items-color);

  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

// иконки блочные, размеры их
.clients__list {
  display: flex;
  justify-content: center;
  margin: 15px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
    justify-content: normal;
  }
}

// иконки блочные, расположение их
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;

  fill: var(--icon-items-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  // переход
  transition: fill var(--animation), border var(--animation);
}

.clients__item {
  &:hover {
    background-color: var(--header-hero-color);
    color: var(--accent-color);
    border: var(--accent-color) 1px solid;
    fill: currentColor;
  }

  &:focus {
    background-color: var(--header-hero-color);
    color: var(--accent-color);
    border: var(--accent-color) 1px solid;
    fill: currentColor;
  }
}
// конец секции наши клиенты
