// блок контактов
// настройки для хедера
.contact.header__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 305px;
  }
}

.contact__list {
  display: flex;

  flex-direction: column;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

// расстояние между мылом и тел
.contact__item {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

//   // растояние между kонтаkтами
//   //  цвет иконки
// моб версия скрытие иконок
.contact__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
}

// иконки контакты в центр
.contact__link.link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
