// блок контактов
// настройки для хедера
.contact.header__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contact__list {
  display: flex;

  flex-direction: column-reverse;

  // align-items: center;
}

//   // расстояние между мылом и тел
//   .contact__item {
//     margin-right: 50px;
//   }

//   // растояние между kонтаkтами
//   //  цвет иконки
// моб версия скрытие иконок
.contact__icon {
  display: none;

  // margin-right: 10px;
  // fill: currentColor;
}

//   // иконки контакты в центр
// .contact__link.link {
//       display: flex;
//     align-items: center;
// }
