// блок контактов 
.contact__list {
    display: flex;
    align-items: center;
  }
  
  // расстояние между мылом и тел 
  .contact__item {
    margin-right: 50px;
  }
  
  // растояние между kонтаkтами
  //  цвет иконки 
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  // иконки контакты в центр 
  .contact__link.link {
    display: flex;
    align-items: center;
  }