.footer {
  background-color: var(--background-hero-footer);
  color: var(--header-hero-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__adress {
  font-style: normal;
  margin-bottom: 9px;
}
// обертка для планшетной версии
.footer__tabblet-warpper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-hero-color);

  margin-bottom: 20px;
}

// .footer__list.container {
//   display: flex;
//   align-items: baseline;
// }

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  // margin-left: 70px;
}
