// блок хедер

// размеры шрифта навигация контакты
.header {
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;

  @media screen and (min-width: 768px) {
    // полоска в хедере
    border-bottom: 1px solid var(--header-line-color);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1200px) {
    justify-content: normal;
  }
}

.header__socials {
  display: none;
  width: 0;
}

// скрытие лого при моб меню
.header__container.is-open {
  @media screen and (max-width: 767px) {
    position: fixed;
    z-index: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--header-hero-color);
    padding: 40px;
  }

  & .header__link {
    opacity: 0;
    position: relative;
    @media screen and (min-width: 768px) {
      opacity: 1;
      position: static;
    }
  }
  // настройки для блока соц сети хедер
  & .socials__link {
    color: var(--accent-color);
    border-radius: 0;

    padding-right: 10px;
  }

  & .socials__link:hover {
    background-color: inherit;
  }
  & .socials__item:last-child {
    margin-right: 0;
    border: 0;
  }
  & .header__socials {
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: flex-start;

    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  & .socials__list {
    justify-content: normal;
  }
  & .socials__item {
    height: 40px;
    width: auto;

    margin-right: 10px;
    margin-top: 64px;

    border-right: 1px solid var(--form-filed-shadow);
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  & .header__list {
    display: block;

    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      margin-left: auto;
      margin-right: auto;
      margin-top: 302px;
    }

    // @media screen and (min-width: 768px) {
    //   margin-top: 0px;
    // }
  }
  & .nav {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .nav__list {
    // height: 192px;
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    // font-weight: 500;
    // font-size: 40px;
    // line-height: 1.18;
    // letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
      height: 192px;
      margin-right: 181px;

      flex-direction: column;
      justify-content: space-between;

      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--title-color);
    }
  }
  & .contact__link {
    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      color: var(--accent-color);
    }
  }
  & .contact__link.mail {
    color: var(--txt-color);

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }
  & .contact__item {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  & .contact__item:first-child {
    margin-bottom: 0;
  }
  & .contact__list {
    flex-direction: column-reverse;
    @media screen and (min-width: 480px) {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      margin-right: 102px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: column;
    }
  }
}

// настройки для блока соц сети хедер

.contact__list .header__link.logo {
  // увеличение кликкабельной области
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__list .contact__list {
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

//конец  блок хедер
