// блок хедер 

.header__container {
    display: flex;
    align-items: center;
  }
// размеры шрифта навигация контакты 
.header {
    font-weight: 500;
    letter-spacing: 0.02em;
  
    border-bottom: 1px solid var(--header-line-color);
  }
  .header__link.logo {
    // увеличение кликкабельной области 
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header__list {
    margin-left: auto;
  }
  //конец  блок хедер 