// блок хедер 


// размеры шрифта навигация контакты 
.header {
    font-weight: 500;
    letter-spacing: 0.02em;

  }

  .header__container {
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
  }

  .header__link.logo {
    // увеличение кликкабельной области 
    padding-top: 16px;
    padding-bottom: 16px;
    // padding-top: 24px;
    // padding-bottom: 25px;
  }
  
  //конец  блок хедер 