//  блок герой
.hero {
  max-width: 480px;

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--header-bg);
  background-repeat: no-repeat;
  background-position: center;

  background-image: radial-gradient(
      at center,
      var(--hero-overlay),
      var(--hero-overlay)
    ),
    url(../images/hero/hero-480-1x.jpg);

  color: var(--header-hero-color);
  background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: radial-gradient(
        at center,
        var(--hero-overlay),
        var(--hero-overlay)
      ),
      url(../images/hero/hero-768-1x.jpg);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: radial-gradient(
        at center,
        var(--hero-overlay),
        var(--hero-overlay)
      ),
      url(../images/hero/hero-1600-1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-480-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-768-2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-1600-2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
