// блок навигации
.nav {
  display: flex;
  @media screen and (min-width: 768px) {
    // margin-right: 84px;
  }
}

.nav__list.list {
  @media screen and (max-width: 767px) {
    display: none;
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// позицианирование планшет
.nav__item {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    position: relative;
  }
}

// подчеркивание хедер
.nav__link {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  // компенсация падинга навигации футер
  padding-top: 28px;
  padding-bottom: 28px;
}

//   .nav__list{
//     &:last-child {
//     margin: 0;
//   }
// }
// конец блока навигации
