// блок навигации
.nav {
  display: flex;
  @media screen and (min-width: 768px) {
    // margin-right: 84px;
  }
}

.nav__list.list {
  @media screen and (max-width: 767px) {
    display: none;
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// позицианирование планшет
.nav__item {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    position: relative;
  }
}

//   // мыло тел в строку
//   .nav__link.link {
//     display: flex;
//     align-items: center;
//     // компенсация падинга навигации футер
//     padding-top: 28px;
//     padding-bottom: 28px;
//   }

//   .nav__list{
//     &:last-child {
//     margin: 0;
//   }
// }
// конец блока навигации
