.nav__menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
}

.nav__menu.is-open {
  position: fixed;
  // позиционирование кнопки
  top: 10px;
  left: calc(100% - 55px);
}

.nav__menu .menu__close {
  display: none;
}

.nav__menu.is-open .menu__close {
  display: block;
  // fill: var(--title-color);
}

.nav__menu.is-open .menu__menu {
  display: none;
}

.nav__menu:focus,
.nav__menu:hover,
.nav__menu:visited {
  fill: var(--accent-color);
}

.menu__close:focus .link.current {
  color: var(--title-color);
}

.menu__close:hover .link.current {
  color: var(--title-color);
}

.menu__close:visited .link.current {
  color: var(--title-color);
}
