.nav__menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    
    background-color: transparent;
}

.nav__menu .menu__close {
    display: none;
}

.nav__menu:focus,
.nav__menu:hover,
.nav__menu:visited{
fill: var(--accent-color);
}