.showcase {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .showcase__wrapper {
    display: flex;
  }
  
  .showcase__img:first-child {
    margin: 0;
  }
  
  .showcase__img {
    margin-left: 30px;
  }