// секция карточки
.userpic {
  background-color: var(--background-btn-filter);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.userpic__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.userpic__line {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;

    // снятие маржина для форимрования контейнера списка
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.userpic__wrapper {
  // заполнение фоткой тумбы
  & img {
    width: 100%;
  }
  background-color: var(--header-hero-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin: 0;
    }
  }

  // маржины для колонки по 2
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.userpic__container {
  @media screen and (min-width: 1200px) {
    padding-left: 215px;
    padding-right: 215px;
  }
}

.userpic__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);

  text-align: center;
}

.userpic__cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.userpic__txt {
  text-align: center;
  //   margin-bottom: 16px;
}
// секция карточки
