// палитра цветов
:root {
    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
    --color-background-overlay: rgba(33, 150, 243, 0.9);
    --title-color: #212121;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --txt-color: #757575;
    --header-bg: #c4c4c4;
    --header-hero-color: #fff;
    --header-line-color: #ececec;
    --background-hero-footer: #2f303a;
    --background-btn-filter: #f5f4fa;
    --icon-items-color: #afb1b8;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --footer-bg-icon: rgba(255, 255, 255, 0.1);
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --box-shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-cards: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --form-filed-shadow: rgba(33, 33, 33, 0.2);
    --footer-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }