@import "./_reset/reset";

// Базовые стили
body {
  color: var(--txt-color);
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.03em;
}

body.is-open {
  overflow: hidden;
  // @media screen and (max-width: 768px) {
  //   overflow: visible;
  // }
}

.h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

//   делаем картинки из строчных в блочные
//   заполнение 100%
img {
  display: block;
  max-width: 100%;
  height: auto;
}
//   конец Базовые стили

// акцент цветом
.accent {
  a {
    // переход
    transition: color var(--animation);
    &:hover {
      color: var(--accent-color);
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  // блок портфолио
  // .portfolio__benefits {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
}
