// сброс стадартных стилей
// сброс стилей для ссылок
   .link {
    text-decoration: none;
    color: inherit;
  }
  
//   скрытие маркера списка, сброс отступов для списков
  .list {
    list-style: none;
  }
  
//   сброс для заголовков
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    padding-inline-start: 0px;
  }
  
  h1 :last-child,
  h2 :last-child,
  h3 :last-child,
  h4 :last-child,
  p :last-child {
    margin-bottom: 0;
  }
//   конец сброс стадартных стилей
  