// модальное окно backdrop 
.backdrop {
    position: fixed;
    // нужен чтобы форма в футере не наезжала 
    z-index: 1;
  
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    // анимация перехода в бэкдропе
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--animation), visibility var(--animation);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
}

.backdrop__wrapper {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  // цвет текста 
  color: var(--title-color);

  background: var(--header-hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

textarea {
  resize: none;
 }

 .form__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form__meta {
  margin-bottom: 12px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  width: 100%;
  margin-top: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;
}

  .form__name {
    &:focus-visible {
  outline: 1px solid var(--accent-color);
  transition: var(--animation);
    }
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid var(--form-filed-shadow);
  outline: 1px solid var(--form-filed-shadow);
  border-radius: 4px;
  }

 
.form__textarea {
  &:focus-visible {
  outline: 1px solid var(--accent-color);
  transition: var(--animation);
  }

  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid var(--form-filed-shadow);
  outline: 1px solid var(--form-filed-shadow);
  border-radius: 4px;
}

// цвет и анимация иконки в инпуте при фокусе 
.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
  transition: var(--animation);
} 


.form__wrapper {
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--txt-color);
}

.form__textarea.comment {
  height: 120px;
  padding: 12px 16px;
}

.form__textarea{
  &::placeholder {
  color: rgba(117, 117, 117, 0.5);}
}


.checkbox__input {
  position: absolute;

  white-space: nowrap;
  width: 1px;
  height: 1px;

  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__span {
  height: 16px;
  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__span {
  fill: rgba(117, 117, 117, 0);
  background-image: url(../images/check-ok.svg);
  background-size: contain;
  background-origin: border-box;

  transition: fill var(--animation), background-image var(--animation);
}



.checkbox__input:focus + .checkbox__span {
  fill: var(--accent-color);
  transition: fill var(--animation);
}


.form__data.checkbox {
  margin-top: 25px;
}

.checkbox__label {
  display: flex;
  margin-left: 13px;
  color: var(--txt-color);
  align-items: center;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline var(--accent-color);
  margin-left: 5px;  
}
