// секция наши клиенты 
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  // размещение иконок наши клиенты 
  .clients__wrapper {
    fill: var(--icon-items-color);
    justify-content: space-between;
  }
  
  // иконки блочные, размеры их 
  .clients__list {
    width: 170px;
    height: 92px;
  }
  
  // иконки блочные, расположение их 
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    fill: var(--icon-items-color);
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    // переход 
    transition: fill var(--animation), border var(--animation);
  }
  
  .clients__item {
    &:hover{
      background-color: var(--header-hero-color);
      color: var(--accent-color);
      border: var(--accent-color) 1px solid;
      fill: currentColor;
    }

    &:focus {
    background-color: var(--header-hero-color);
    color: var(--accent-color);
    border: var(--accent-color) 1px solid;
    fill: currentColor;
  }
}
  // конец секции наши клиенты 