// блок навигации 
.nav__list.list {
    display: flex;
  }
  
  .nav__item {
    margin-right: 50px;
    position: relative;
  }
    
  // мыло тел в строку 
  .nav__link.link {
    display: flex;
    align-items: center;
    // компенсация падинга навигации футер 
    padding-top: 28px;
    padding-bottom: 28px;
  }
  
  .nav__list{
    &:last-child {
    margin: 0;
  }
}
  // конец блока навигации 