// блок иконки соцсетей 
// позицианирование иконок 
.socials__list {
  display: flex;
  justify-content: center;
}
// иконки блочные, размеры их 
.socials__item {
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

// убираем крайний отступ 
.socials__item{
  &:last-child {
  margin-right: 0;
}
}

// центрирование иконок 
.socials__link {
  display: flex;
  border-radius: 50%;
  background-color: var(--header-hero-color);
  height: inherit;
  align-items: center;
  justify-content: center;
  fill: var(--icon-items-color);
  // переход 
  transition: color var(--animation), background-color var(--animation);
}

// форматирование для футера 
.footer .socials__link {
  background-color: var(--footer-bg-icon);
}

// изменение цвета иконок 
// .socials__link:hover,
// .socials__link:focus {
//   background-color: var(--accent-color);
//   color: var(--header-hero-color);
//   fill: currentColor;
// }
.socials__link {
  &:hover {
  background-color: var(--accent-color);
  color: var(--header-hero-color);
  fill: currentColor; }
  &:focus {
      background-color: var(--accent-color);
      color: var(--header-hero-color);
      fill: currentColor;
}
}
// конец блока иконок соцсетей 

